In [1]:
print('This is awesome')

This is awesome

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Nombre': ['Pedro', 'Antonio'], 'Edad': [34, 38]})
df

    Nombre  Edad
0    Pedro    34
1  Antonio    38

In [5]:
type(df.Edad)

pandas.core.series.Series